.gray-block{
    height: 200px;
    width: 200px;
    background-image: linear-gradient( red, orange);
    border: solid black;
    border-right: 9px black solid;
    border-left: 9px black solid;
    margin-left: 200px;
    text-align: center;
}

h2{
    padding-top: 60px;
    color: white;
}

.pink-block{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(rgb(250, 160, 175), rgb(217, 52, 217));
    border: solid black;
    border-right: 9px black solid;
    border-left: 9px black solid;
    margin-left: 417px;
    text-align: center;
}

.violet-block{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(rgb(148, 232, 247), rgb(94, 73, 248));
    border: solid black;
    border-right: 9px black solid;
    border-left: 9px black solid;
    margin-left: 200px;
    text-align: center;
}
