#container {
    margin: auto;
    width: 600px;
    box-shadow: 2px 2px 7px gray;
    border-radius: 20px;
    padding: 20px;
}
#items {
    width: 300px; 
    padding: 5px;
}
button {
    padding: 10px; 
    font-size: 15px;
    cursor: pointer;
}
#list {
    padding: 5px;
    box-shadow: 2px 2px 7px gray;
    list-style-type: none;
    height:  auto;
}
li {
    padding: 8px;
    border-bottom: 1px solid gray;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    
}
.task-checkbox {
    margin-right: 10px;
    padding: 5px;
}
.delete-btn {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.completed {
    text-decoration: line-through;
    color: gray;
    
}
@keyframes fadeIn{
    from{ opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform:  translateY(0);}
}
.fade-out {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}